.allfamily{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    gap: 1rem;
    flex-wrap: wrap;
}
.young{
    width: 30%;
    background-color: brown;
    padding: 12px;
}