.Local-div{
    width: 100%;
    
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    background-color: rgb(116, 99, 99);
    padding: 12px;
   

}